################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lnk
*.log
*.*-SAV
*.user
1-user-setup.sql
unpublished.config
/.svn
/.vs
/bin/*.dll.config
/bin/*.xml
/lib/ki/*.dll
/lib/ki/*.dll.config
/lib/ki/*.pdb
/lib/ki/*.xml
/lib/ki/obj
/lib/oscalib/*.dll
/lib/oscalib/*.dll.config
/lib/oscalib/*.pdb
/lib/oscalib/*.xml
/lib/oscalib/obj
/node_modules
/obj
/packages
/Web.config
