################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lnk
*.log
*.*-SAV
*.user
/.svn
/.vs/OscarDotNet
/bin/K4os.Hash.xxHash.xml
/bin/K4os.Hash.xxHash.dll
/bin/K4os.Compression.LZ4.xml
/bin/K4os.Compression.LZ4.Streams.xml
/bin/K4os.Compression.LZ4.Streams.dll
/bin/K4os.Compression.LZ4.dll
/bin/HtmlAgilityPack.xml
/bin/HtmlAgilityPack.pdb
/bin/Google.Protobuf.xml
/bin/Google.Protobuf.pdb
/bin/Google.Protobuf.dll
/bin/ZstdNet.dll
/bin/System.Web.Http.xml
/bin/System.Web.Http.dll
/bin/System.Runtime.CompilerServices.Unsafe.xml
/bin/System.Runtime.CompilerServices.Unsafe.dll
/bin/System.Numerics.Vectors.xml
/bin/System.Numerics.Vectors.dll
/bin/System.Memory.xml
/bin/System.Memory.dll
/bin/System.Buffers.xml
/bin/System.Buffers.dll
/bin/OscarDotNet.dll.config
/bin/oscalib.dll.config
/bin/Newtonsoft.Json.dll
/bin/MySql.Data.xml
/bin/ki.dll.config
/config/dev/unpublished.config
/config/dev/1-user-setup.sql
/lib
/node_modules
/obj
/packages
/usercontrol/ki
/Web.config
/unpublished.config
