<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="bdp_connection_string" value="assembly=CoreLab.Bdp.MySql, Version=2.80.0.2500, Culture=neutral, PublicKeyToken=09af7300eec23701;vendorclient=libmysql.dll;grow on demand=True;database=kiaspdotnetframeworkdb_d;username=root;max pool size=100;password=usanores1$;provider=MySQL (Core Lab);min pool size=0;hostname=localhost" />
  <add key="smtp_username" value="7576428668@vzwmail.net" />
  <add key="smtp_password" value="vmobi" />
  <add key="sysadmin_encoded_password" value="11bb645ed1010af811f98e3fc9bdb49e8dab24ae" />
</appSettings>