<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="unpublished.config">
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <!---->
    <add key="aspnet:MaxHttpCollectionKeys" value="32000"/>
    <add key="alternative_pm_alert_threshold" value="-40"/>
    <add key="ambulances_up_citywide_alarm_num" value="20"/>
    <add key="ambulances_up_citywide_alert_fraction" value="0.75"/>
    <add key="application_name" value="OscarTRACK"/>
    <add key="bouncer_email_address" value="bouncer@frompaper2web.com"/>
    <add key="be_field_situation_enabled" value="true"/>
    <add key="days_advance_notice_for_leaves_ending" value="24"/>
    <add key="deadline_day_for_squad_to_publish_schedule" value="17"/>
    <add key="deadline_hour_for_squad_to_publish_schedule" value="12"/>
    <add key="department_member_status_coordinator" value="gautunno@vbgov.com"/>
    <add key="email_blockquote_maxcol" value="60"/>
    <add key="exit_survey_url" value="http://surveymonkey.com/s/EMS_Exit"/>
    <add key="external-general-departure-notification-target" value="sbrady@vbgov.com,jsansone@vbgov.com"/>
    <add key="failsafe_recipient_email_address" value="kevinandrewlipscomb@mailworks.org"/>
    <add key="greenhorn_period_in_months" value="3"/>
    <add key="last_day_of_month_to_actually_wait_for_schedule_availabilities" value="13"/>
    <add key="last_day_of_month_to_submit_schedule_availabilities" value="10"/>
    <add key="max_num_units_per_post" value="4"/>
    <add key="max_section_num" value="17"/>
    <add key="membership_establishment_liaison" value="ldimitry@vbgov.com"/>
    <add key="miles_from_pm_alarm_threshold" value="0"/>
    <add key="miles_from_pm_alert_threshold" value="-300"/>
    <add key="num_staffed_ambulances_desired_off_peak" value="12" />
    <add key="num_staffed_ambulances_desired_peak" value="15" />
    <add key="num_staffed_ambulances_required_geo" value="10" />
    <add key="num_staffed_ambulances_required_off_peak" value="10" />
    <add key="num_staffed_ambulances_required_peak" value="12" />
    <add key="oscalert_inhibition_period_fire_surge" value="01:00:00"/>
    <add key="oscalert_inhibition_period_multalsholds" value="20:00"/>
    <add key="oscalert_inhibition_period_multambholds" value="20:00"/>
    <add key="path_to_external_keyclick" value="http://oscarsystem.com/keyclick"/>
    <add key="path_to_external_oscar" value="http://oscarsystem.com"/>
    <add key="report_compressed_font_family" value="'VT323','Arial Narrow','sans-serif'"/>
    <add key="scratch_folder" value="scratch"/>
    <add key="sender_email_address" value="&quot;OscarTRACK&quot; &lt;OscarTRACK@frompaper2web.com&gt;"/>
    <add key="sender_email_address_oscalert" value="OSCALERT@frompaper2web.com"/>
    <add key="serial_indicator_control_chart_width_in_months" value="27"/>
    <add key="shared_secret_description" value="your attributes"/>
    <add key="sponsor" value="Virginia Beach EMS"/>
    <add key="sysadmin_sms_address" value="short-message-service@frompaper2web.com"/>
    <add key="temp_password_len" value="8"/>
    <add key="tier_2_match_field" value="agency_id"/>
    <add key="tier_3_match_field" value="section_num"/>
    <add key="upcoming_duty_notification_post_id_exclusion_target" value="405,406,408,417"/>
    <add key="vbemsbridge_refresh_rate_in_seconds" value="20"/>
    <add key="vehicular_issue_report_target" value="jbrennam@vbgov.com,klipscom@vbgov.com"/>
    <add key="vehicular_issue_report_target_name" value="Jeff Brennaman, primary"/>
    <add key="virtual_directory_name" value="OscarTRACK"/>
    <add key="year_month_spec_of_first_serial_dashboard_data_point" value="2007-06"/>
    <!---->
    <!-- The following appSettings are likely host-dependent. -->
    <!---->
    <add key="host_domain_name" value="frompaper2web.com"/>
    <add key="runtime_root_fullspec" value="https://frompaper2web.com/OscarTRACK/"/>
    <add key="smtp_server" value="localhost"/>
    <add key="ssl_base_path" value="frompaper2web.com"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.web>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="8192"/> <!-- Added maxRequestLength="8192" to allow display of most data-intensive version of watchbill -->
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.6.1"/>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms name="OscarTRACK" loginUrl="login.aspx" timeout="720"/>
    </authentication>
    <trace enabled="false" requestLimit="10" pageOutput="true" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="730"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" maxPageStateFieldLength="512">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="WebServiceHandlerFactory-ISAPI-2.0"/>
    </handlers>
  </system.webServer>
</configuration>
